{% load static %}

<!-- Testimonials Partial -->
<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="d-flex">
        <div>
            <img class="rounded-circle mr-4" src="{% static 'base/images/customer/customer-1.jpg' %}"
                alt="customer-img">
        </div>
        <div>
            <ul class="list-inline">
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
            </ul>
            <h4 class="text-dark">Best quality for the price</h4>
            <p class="text-gray">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium dolorem.</p>
            <h5 class="customer-name text-dark">Maggie Scott</h5>
        </div>
    </div>
</div>

<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="d-flex">
        <div>
            <img class="rounded-circle mr-4" src="{% static 'base/images/customer/customer-2.jpg' %}"
                alt="customer-img">
        </div>
        <div>
            <ul class="list-inline">
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
            </ul>
            <h4 class="text-dark">Amazing Performance</h4>
            <p class="text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            <h5 class="customer-name text-dark">Adam Brown</h5>
        </div>
    </div>
</div>

<div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="d-flex">
        <div>
            <img class="rounded-circle mr-4" src="{% static 'base/images/customer/customer-3.jpg' %}"
                alt="customer-img">
        </div>
        <div>
            <ul class="list-inline">
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
                <li class="list-inline-item mx-0"><i class="ti-star rated"></i></li>
            </ul>
            <h4 class="text-dark">Highly Recommended</h4>
            <p class="text-gray">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            <h5 class="customer-name text-dark">Sophia Turner</h5>
        </div>
    </div>
</div>